.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    background-image: url('../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
}

.home-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-width: 1800px;
    height: 100vh;
    padding: 250px 40px 0;
    color: var(--light-color);
}


.home-presentation div {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.home-presentation div p {
    font-size: 0.8rem;
}

.home-presentation div h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.25;
}

.home-presentation div a {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 0.8rem;
    font-weight: 300;
    border: 1px solid #3e3e3e;
    border-radius: 4px;
    color: var(--light-color);
    background: #0b0b0bbd;
    backdrop-filter: blur(5px);
    transition: var(--transition);
    gap: 10px;
}

.home-presentation div a:hover {
    background: var(--light-color);
    color: var(--black);
    gap: 20px;
}
